.hamburger {
    z-index: 102;
    height: auto;
    position: relative;
    display: none;
    width: 30px;
    height: 22px;
    display: none;
    align-items: center;
    opacity: 0.8;
  
    @include tablets{
      display: flex;
    }

    @include phones{
      width: 26px;
      height: 20px;
    }
   
  
    &:before {
      bottom: 100%;
      margin-bottom: 4px;
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      top: 0;
      background: #4e709e;
      position: absolute;
      border-radius: 10px;
      transition: 0.3s;
    }
    &:after {
      bottom: 0;
      margin-top: 4px;
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      background: #4e709e;
      position: absolute;
      border-radius: 10px;
      transition: 0.3s;
    }
  
  
    &__menu {
      width: 100%;
      height: 3px;
      background-color: #4e709e;
      border-radius: 10px;
      display: block;
      opacity: 1;
      transition: 0.3s;
  
  
    }
  
    &_active {
      z-index: 102;
     
      margin-left: auto;
  
  
      &:before {
        content: "";
        transform: rotate(45deg);
        top: 8px;
        transition: 0.3s;

        @include phones{
          top: 6px;
        }
  
      }
  
      &:after {
        content: "";
        transform: rotate(-45deg);
        bottom: 11px;
        transition: 0.3s;
  
      }
  
      .hamburger__menu {
        opacity: 0;
        transition: 0.3s;
      }
  
  
    }
  }