.programs__item
    img(src="/image/press.jpg", alt="abs").programs__img
    .programs__content
        .programs__block
            .programs__icon
                svg.programs__svg
                    use(xlink:href="/sprite.svg#abs")
        .programs__title ABS
        .programs__text Тренировка на пресс, спину и ягодицы. Цель: подтянутые мышцы пресса и ягодиц.