.programs__item
    img(src="/image/childrens2.jpg", alt="childrens").programs__img
    .programs__content
        .programs__block
            .programs__icon
                svg.programs__svg
                    use(xlink:href="/sprite.svg#toys")
        .programs__title Развивающие занятия
        .programs__text Разнообразные занятия, всегда новые задания с педагогами, которые смогут увлечь ваших детей и помочь им в учебе.