.programs__item
    img(src="/image/bestFit1.jpg", alt="bestfil").programs__img
    .programs__content
        .programs__block
            .programs__icon
                svg.programs__svg
                    use(xlink:href="/sprite.svg#bestfit")

        .programs__title Best Fit
        .programs__text Функциональная тренировка. Цель: проработать кардио и мышечную выносливость, а так же координацию.