.programs__item
    img(src="/image/childrenFit2.jpeg", alt="childrensfit").programs__img
    .programs__content
        .programs__block
            .programs__icon
                svg.programs__svg
                    use(xlink:href="/sprite.svg#chfit")
        .programs__title Детский фитнес
        .programs__text Тренируем все мышечные группы. Цель: равномерное развитие всех мышц.