.programs__item
    img(src="/image/hotFit4.jpg", alt="hotiron").programs__img
    .programs__content
        .programs__block
            .programs__icon
                svg.programs__svg
                    use(xlink:href="/sprite.svg#barbell")

        .programs__title Hot Iron
        .programs__text Силовая тренировка. Базовые упражнения с мини штангой. Цель: жиросжигание и тонус мышц. 