.programs__item
    img(src="/image/pilates3.jpg", alt="pilates").programs__img
    .programs__content
        .programs__block
            .programs__icon
                svg.programs__svg
                    use(xlink:href="/sprite.svg#pilates")
        .programs__title Pilates
        .programs__text Очень хорошо все растянут, будешь как новенькая. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, iusto.