.programs__item
    img(src="/image/sculpt2.jpeg", alt="sculpt").programs__img
    .programs__content
        .programs__block
            .programs__icon
                svg.programs__svg
                    use(xlink:href="/sprite.svg#sculpt")
        .programs__title Sculpt
        .programs__text Силовая тренировка. Проработка проблемных зон. Цель: жиросжигание и тонус мышц.