.programs__item
    img(src="/image/stretch3.jpg", alt="stretch").programs__img
    .programs__content
        .programs__block
            .programs__icon
                svg.programs__svg
                    use(xlink:href="/sprite.svg#stretch")
        .programs__title Stretch
        .programs__text Тренировка на гибкость и здоровую спину. Цель: растяжка и здоровая спина.