<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Наши мероприятия - Family Fitness в Кузнечихе (Ярославль)
        meta(name="Description" content="Обзор мероприятий фитнес-клуба Family Fitness. У нас здорово, присоединяйся и ты! Запись на тренировки по телефону +7(4852)70-00-29")
        link(rel="stylesheet" href="/css/style.css")
        link(href="/image/favicon.ico" rel="shortcut icon" type="image/x-icon")
        <script type="text/javascript" src="/metrika.js"></script>
        <noscript><div><img src="https://mc.yandex.ru/watch/67766076" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    body
        wrapper

            include blocks/header.pug

            section.events
                .container
                    h2.events__title Мероприятия
                    h3.events__capture прошедшие и ожидающиеся
                    ul.events__list

                        li.events__item
                            .events__left
                                .events__image
                                    img(src="/image/opening.jpg", alt="").events__img
                            .events__right
                                h3.events__topic Совсем скоро мы откроемся!
                                p.events__text Сообщаем радостную новость - мы открываем двери нашего клуба 12 декабря! Скорее звони нам, узнавай подробноси праздничных скидок и записывайся на занятия. А самую свежую информацию всегда можно увидеть в нашем аккаунте в instagramm family.fitness76
                                .events__date 01.12.2020г.

                        //- li.events__item.events__reverse
                        //-     .events__right
                        //-         h3.events__topic Новый год не за горами!
                        //-         p.events__text Подготовь к новому году душу и тело. Проводим новогодние тренировки со всей атрибутикой нового года! Следи за нашими новостями в инстаграмм, там мы озвучим даты праздничных тренировок.
                        //-         .events__date 1.11.2020г.
                        //-     .events__left
                        //-         .events__image
                        //-             img(src="/image/santa.jpg", alt="").events__img

            include blocks/footer.pug
    
    script(src="/main.js")