<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Цены на абонементы в фитнес клуб Family Fitness в Кузнечихе (Ярославль)
        meta(name="Description" content="Цены на абонементы в фитнес-клуб Family Fitness в Кузнечихе (Ярославль). Запись на тренировки по телефону +7(4852)70-00-29")
        link(rel="stylesheet" href="/css/style.css")
        link(href="/image/favicon.ico" rel="shortcut icon" type="image/x-icon")
        <script type="text/javascript" src="/metrika.js"></script>
        <noscript><div><img src="https://mc.yandex.ru/watch/67766076" style="position:absolute; left:-9999px;" alt="" /></div></noscript>


    body
        wrapper

            include blocks/header.pug

            section.price
                .container
                    h2.price__title Тренировки в группе
                    
                    ul.price__content
                        li.price__item
                            .price__block
                                .price__number 4 занятия
                                //- .price__desc Срок действия 30 дней. Без возможности продления.

                            .price__unit
                                //- .price__line
                                //-     .price__capture Для детей
                                //-     .price__value 800&#8381;
                                .price__line
                                    //- .price__capture Для взрослых
                                    .price__value 1100&#8381;
                            .price__part
                                .price__string
                                    svg.price__svg
                                        use(xlink:href="/sprite.svg#checkmark")
                                    .price__text Действует 1 месяц
                                //- .price__string
                                //-     svg.price__svg
                                //-         use(xlink:href="/sprite.svg#checkmark")
                                //-     .price__text Стоимость 1 занятия ребенка - 200&#8381;
                                .price__string
                                    svg.price__svg
                                        use(xlink:href="/sprite.svg#checkmark")
                                    .price__text 1 занятие взрослого 275&#8381;
                        
                        li.price__item
                            .price__block
                                .price__number 8 занятий
                                //- .price__desc Срок действия 30 дней. Без возможности продления.
                            .price__unit
                                //- .price__line
                                //-     .price__capture Для детей
                                //-     .price__value 1450&#8381;
                                .price__line
                                    //- .price__capture Для взрослых
                                    .price__value 1850&#8381;
                            .price__part
                                .price__string
                                    svg.price__svg
                                        use(xlink:href="/sprite.svg#checkmark")
                                    .price__text Действует 1 месяц
                                //- .price__string
                                //-     svg.price__svg
                                //-         use(xlink:href="/sprite.svg#checkmark")
                                //-     .price__text Стоимость 1 занятия ребенка &#8776; 181&#8381;
                                .price__string
                                    svg.price__svg
                                        use(xlink:href="/sprite.svg#checkmark")
                                    .price__text 1 занятие взрослого &#8776; 231&#8381;

                        li.price__item
                            .price__block
                                .price__number 12 занятий
                                //- .price__desc Подойдет для супер профи качков
                            .price__unit
                                //- .price__line
                                //-     .price__capture Для детей
                                //-     .price__value 1950&#8381;
                                .price__line
                                    //- .price__capture Для взрослых
                                    .price__value 2300&#8381;
                            .price__part
                                .price__string
                                    svg.price__svg
                                        use(xlink:href="/sprite.svg#checkmark")
                                    .price__text Действует 1 месяц
                                .price__string
                                    svg.price__svg
                                        use(xlink:href="/sprite.svg#checkmark")
                                    .price__text Возможно продление при наличии больничного листа
                                //- .price__string
                                //-     svg.price__svg
                                //-         use(xlink:href="/sprite.svg#checkmark")
                                //-     .price__text Стоимость 1 занятия ребенка &#8776; 162&#8381;
                                .price__string
                                    svg.price__svg
                                        use(xlink:href="/sprite.svg#checkmark")
                                    .price__text 1 занятие взрослого &#8776; 191&#8381;

                        li.price__item
                            .price__block
                                .price__number Разовое занятие
                                //- .price__desc Чисто попробовать
                            .price__unit
                                //- .price__line
                                //-     .price__capture Для детей
                                //-     .price__value 250&#8381;
                                .price__line
                                    //- .price__capture Для взрослых
                                    .price__value 350&#8381;
                            .price__part
                                .price__string
                                    svg.price__svg
                                        use(xlink:href="/sprite.svg#checkmark")
                                    .price__text Действует в день оплаты

                    h2.price__title Персональные тренировки

                    ul.price__content.price__content2
                        li.price__item
                            .price__block
                                .price__number Разовое занятие
                                
                            .price__unit
                                .price__line
                                    .price__value 600&#8381;
                        li.price__item
                            .price__block
                                .price__number 8, 10 или 12 занятий
                                
                            .price__unit
                                .price__line
                                    .price__value 500&#8381;/занятие

                    h2.price__title Сплит тренировки (2 клиента + тренер)

                    ul.price__content.price__content2
                        li.price__item
                            .price__block
                                .price__number Разовое занятие
                                
                            .price__unit
                                .price__line
                                    .price__value 750&#8381;
                        li.price__item
                            .price__block
                                .price__number 8, 10 или 12 занятий
                                
                            .price__unit
                                .price__line
                                    .price__value 650&#8381;/занятие
                        

                    .price__attention
                        svg.price__attention_svg
                            use(xlink:href="/sprite.svg#attention")
                        p.price__attention_text На каждое занятие тебуется предварительная запись, в том числе и при разовом посещении. Запись осуществляется по телефону.
                                

                    
                    //- .price__discount 
                    //-     svg.price__discount_svg
                    //-         use(xlink:href="/sprite.svg#sale")
                    //-     .price__discount_text Скидка 10% на взрослый абонемент, при наличии действующего детского



            include blocks/footer.pug
        
    script(src="/main.js")