<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Фотографии залов - Family Fitness в Кузнечихе (Ярославль)
        meta(name="Description" content="Фотографии фитнес-клуба Family Fitness. Смотри, как у нас красиво и уютно! Запись на тренировки по телефону +7(4852)70-00-29")
        link(rel="stylesheet" href="/css/style.css")
        link(href="/image/favicon.ico" rel="shortcut icon" type="image/x-icon")
        <script type="text/javascript" src="/metrika.js"></script>
        <noscript><div><img src="https://mc.yandex.ru/watch/67766076" style="position:absolute; left:-9999px;" alt="" /></div></noscript>

    body
        wrapper

            include blocks/header.pug

            .container
                h2 скоро тут появится контент

            include blocks/footer.pug
    
    script(src="/main.js")