<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Расписание занятий - Family Fitness в Кузнечихе (Ярославль)
        meta(name="Description" content="Расписание тренировок в фитнес-клубе Family Fitness. Большой выбор программ как для взрослых, так и для детей! Запись на тренировки по телефону +7(4852)70-00-29")
        link(rel="stylesheet" href="/css/style.css")
        link(href="/image/favicon.ico" rel="shortcut icon" type="image/x-icon")
        <script type="text/javascript" src="/metrika.js"></script>
        <noscript><div><img src="https://mc.yandex.ru/watch/67766076" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    body
        wrapper

            include blocks/header.pug

            section.timetable
                .container
                    h2.timetable__title Расписание занятий
                    //- h3.timetable__capture На неделю с <span id="date1" class="timetable__date"></span> <span id="month1" class="timetable__date"></span> по <span id="date2" class="timetable__date"></span> <span id="month2" class="timetable__date">
                    p.timetable__text На каждую тренировку необходима предварительная запись по телефону. Большая просьба, если вы записались на тренировку, но не можете ее посетить, сообщите нам об этом!
                    //- iframe(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRcnjH6rQ_hwNaojEEjMLVJ9Ay297t2igXVY3pKgVppq_EKF1SGMeDhyPKZBoUlFjyxXaBr7-Y_uAz0/pubhtml?chrome=false&amp;widget=false&amp;headers=false").timetable__table
                    //- iframe(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRcnjH6rQ_hwNaojEEjMLVJ9Ay297t2igXVY3pKgVppq_EKF1SGMeDhyPKZBoUlFjyxXaBr7-Y_uAz0/pubhtml?chrome=false&amp;gid=2008958877&amp;single=true&amp;widget=true&amp;headers=false").timetable__table
                    iframe(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQeCKuwYCfRbMKGbSoYoFJBblPXTQVTuhhMQZ8jeykKtbtNG_HLIx1usqg0WxJDAqI-TFrqtvsXCwot/pubhtml?chrome=false&amp;gid=0&amp;single=true&amp;widget=true&amp;headers=false").timetable__table


            include blocks/footer.pug
    
    script(src="/main.js")